<div class="window">
  <div class="window__header">
    <div class="window__title">
      Window Title (Other Info)
    </div>
    <div class="window__controls">
      <button (click)="onDuplicate()" class="window__control-btn">
        <lucide-angular [img]="CopyIcon" class="window__icon"></lucide-angular>
      </button>
      <button (click)="toggleLock()" class="window__control-btn">
        <lucide-angular [img]="isLocked ? LockIcon : UnlockIcon" class="window__icon"></lucide-angular>
      </button>
      <button (click)="onSettings()" class="window__control-btn">
        <lucide-angular [img]="SettingsIcon" class="window__icon"></lucide-angular>
      </button>
      <button (click)="onClose()" class="window__control-btn window__control-btn--close">
        <lucide-angular [img]="CloseIcon" class="window__icon"></lucide-angular>
      </button>
    </div>
  </div>
  <div class="window__content">
    <div class="window__text">
      <app-stock-chart-test></app-stock-chart-test>
    </div>
  </div>
</div>
