.stock-chart {
  // Container styles
  &__loading,
  &__error {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  &__metadata {
    margin-bottom: 1rem;
    background-color: #ffffff0a;
    margin: 2px;
  }

  &__content {
    padding: 1rem;
  }

  &__header {
    width: 100%;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__logo {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    border-radius: 0.4rem;
    overflow: hidden;

    &-img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__info {
    flex: 1;
  }

  &__name-time {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
  }

  &__name {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    line-height: 1.25rem;
  }

  &__symbol {
    font-weight: 600;
    font-size: 1.25rem;
  }

  &__market {
    color: var(--text-secondary);
    font-size: 0.875rem;
    opacity: 0.5;
  }

  &__time {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: var(--text-secondary);
    font-size: 0.875rem;
    opacity: 0.5;
    font-style: italic;
    margin-right: .8rem;

    &-icon {
      width: 16px;
      height: 16px;
    }
  }

  &__description {
    color: var(--text-secondary);
    font-size: 0.875rem;
    line-height: 1.4;
    opacity: 0.5;
  }
}

.chart-container {
  width: 100%;
  height: 400px;
}
